@{
    Layout = null;

}

<td>
    <button type="button" id="agregar">Agregar</button>
</td>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
