@model MisRecetasMT.ViewModels.Usuario.ResetearPasswordModel
@{
    Layout = null;

}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<h2>Resetear Password</h2>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Token" type="hidden" />
                <input asp-for="Email" type="hidden" />
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmarPassword"></label>
                    <input asp-for="ConfirmarPassword" class="form-control" />
                    <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Resetear password</button>
            </form>
        </div>
        <div>
            <a asp-action="Login">Volver</a>
        </div>
    </div>
</div>